html{
    font: 16px/1.5 Helvetica, sans-serif;    
}
body{
    padding: 7rem;
}
section article{
    padding: 2rem 1rem 1rem 1rem;
    color:white;
    background: rgb(51, 102, 153);
    border: 1px solid rgb(51, 102, 153);
    border-radius: 1rem;
}
h1, h2, h3, h4, h5, h6 {
	font: 1em/1.2 Georgia, serif;
	margin: 1em 0 0.5em 0;
	padding: 0;
}

h1 { font-size: 2.2rem; }
h2 { font-size: 2.0rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }