html{
    /* задавайки размера на фонта и глемината на реда тук ние си задаваме началната стойнонс за ratio-то на rem */
    font: 16px/1.5 Helvetica, sans-serif;
}
body{
    padding: 10rem;
    /* по този начин можем да си гарантираме, че font се наследява */
    /* font: inherit; */
}
ul{
    margin: 2rem 0 2rem 0;
    list-style-type: square;
    /* font: inherit; */
}
ul li{
    margin: 0.1rem
}
ol{
    /* font: inherit; */
    display: flex;
    flex-direction: column-reverse;
}
ul li, ol li {
	list-style-position: outside;
}